@import url(./root/style.css);
.footer {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    min-height: 125px;
}
.footer__container {
    display: flex;
    flex-direction: row;
    gap: clamp(3.125rem, -38.239rem + 101.82vw, 38.125rem);
    max-height: 100% !important;
}
.footer__social {
    display: flex;
    flex-direction: row;
    gap: clamp(0.188rem, -0.199rem + 1.93vw, 1.25rem);
}
.footer-social {
    height: 18px;
    width: 21px;
}
.footer__rights {
    min-width: 326px;
}
.footer-rights {
    font-family: var(--primary-font);
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: right;
}