@import url(./root/style.css);
.header {
    background-color: var(--primary-color);
    height: 100px;
}
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 85px;
    gap: clamp(6.25rem, -25rem + 83.33vw, 37.5rem);
}
.logo-container {
    display: flex;
    flex-direction: row;
    gap: clamp(0.125rem, -0.511rem + 3.18vw, 1.875rem);
    margin-left: 15px;
}
.logo {
    width: 70px;
    height: 48px;
}
.logo-text {
    font-family: var(--primary-font);
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0px;  
}
.link-container {
    display: flex;
    flex-direction: row;
    gap: clamp(0.313rem, -0.256rem + 2.84vw, 1.875rem);
    align-items: center;
    margin-right: 15px;
}
.link {
    font-family: var(--primary-font);
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    transition: color 0.6s;
}
.link:hover {
    color: #000;
}