@import url(../root/style.css);
/*-----------------------------------------------------*/
.burger-container {
    display: none;
}
.lock {
    overflow: hidden;
}
/*-----------------------------------------------------*/
@media (max-width: 650px) {
    .footer__container {
        flex-direction: column !important;
        align-items: center;
        text-align: center !important;
        padding: 30px 24px 30px 24px;
    }
    .logo-container{
        margin-left: 15px;
    }
}
@media (max-width: 560px) {
    .burger-container {
        margin-right: 20px;
    }
    .link-container {
        position: fixed;
        right: 150%;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 50px;
        transition: right 0.5s ease 0s;
        display: flex !important;
        flex-direction: column !important;
        gap: 40px !important;
        font-size: 20px !important;
        margin-right: 0 !important;
    }
    .open {
        right: 0%;
        overflow-x: hidden;
    }
    .burger-container {
        display: block;
        position: relative;
        cursor: pointer;
        z-index: 5;
        width: 30px !important;
        height: 18px !important;
        margin-left: clamp(1.875rem, -17.292rem + 95.83vw, 16.25rem);
    }
    .burger-container span,
    .burger-container::before,
    .burger-container::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }
    .burger-container::before,
    .burger-container::after {
        content: "";
    }

    .burger-container::after {
        top: 0;
    }
    .burger-container::before{
        bottom: 0;
    }
    .burger-container span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .burger-container.active span {
        display: none !important;
    }
    .burger-container.active::before {
        transform: rotate(45deg);
        top: 50%;
    }
    .burger-container.active::after {
        transform: rotate(-45deg);
        top: 50%;
    }
}
@media (max-width: 435px) {
    [class*=__container] {
        max-width: 335px !important;
    }
    .nav {
        gap: 0px !important;
    }
    .footer__social {
        flex-wrap: wrap !important;
        gap: 0 !important;
        display: flex;
        justify-content: center;
    }
    .text {
        max-width: 335px !important;
    }
}
@media (max-width: 321px) {
    .footer__rights {
        min-width: 0 !important;
    }
    .footer-rights {
        text-align: center !important;
    }
}
/*-----------------------------------------------------*/